body {
    margin: 0;
    font-family: 'Whyte', sans-serif;   
}
header {
    background-color: white;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.navbar-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    z-index: 100;
}
#linksLEFT, #linksRIGHT {
    display: flex;
    align-items: center;
    gap: 15px;
}
nav a {
    font-size: 12px;
    color: black;
    margin: 0 10px;
    cursor: pointer;
    text-transform: uppercase;
}
#logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}
nav img {
    height: 20px;
    width: 133px;
}
.search-container {
    display: flex;
    align-items: center;
    background-color: #F5F5F5;
    border-radius: 15px;
    padding: 5px;
    gap: 5px;
}
.search-icon {
    width: 16px;
    height: 16px;

}
.search-input::placeholder {
    color: black; 
}   
.search-input {
    border: none;
    outline: none;
    font-size: 12px;
    background-color: transparent;
    flex: 1;
}
/* BOX */
.box-slideshow {
    position: relative;
    width: 100%;
    height: auto;
}
.box-image {
    width: 100%;
}
.box-text {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2.5rem;
    text-transform: lowercase;
    text-align: center;
    white-space: nowrap;    
}
/* PRODOTTI */
.product-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    width: 100%;
    justify-content: space-between;
}
.product-item {
    flex: 1 1 calc(16.66% - 5px); /* 6 colonne, sottraendo il gap */
    position: relative;
    overflow: hidden;
    text-align: center;
    background: white;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}
.product-item img {
    width: 100%;
    height: auto; /* Mantiene le proporzioni */
    object-fit: cover; /* Evita lo "zoom" lo posso usare?*/
    display: block;
    transition: transform 0.3s ease-in-out;
}
.product-item:hover img {
    transform: scale(1.1);
    cursor: pointer;
}
.product-text {
    position: absolute;
    top: 50%; /* Posiziona il testo al centro verticale */
    left: 50%; /* Posiziona il testo al centro orizzontale */
    transform: translate(-50%, -50%); /* Centra esattamente il testo */
    color: white; 
    font-size: 1.2rem; 
    font-weight: bold; 
    text-transform: uppercase; 
    pointer-events: none; /* Impedisce che il testo interferisca con il mouse lo posso usare?*/
}
/* FONT */
@font-face {
    font-family: 'Whyte';
    src: url('../mhw1/fonts/ABCWhyte-Regular.woff2') format('woff2'),
         url('../mhw1/fonts/ABCWhyte-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Whyte';
    src: url('../mhw1/fonts/ABCWhyte-Bold.woff2') format('woff2'),
         url('../mhw1/fonts/ABCWhyte-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
/* OUTOFCORE */
.outofcore-img{
    padding-top: 0;
    width: 100%; 
    height: auto; 
    display: block; /* Evita spazi indesiderati sotto l'immagine */
}
.flex_container {
    display: flex;
    /*QUI DOVREI RENDERE LA SCHERMATA LOCKATA *TIPO* */
    flex-direction: column; /* dispone gli elementi in colonna */
    gap: 5px; /* spaziatura tra la griglia e l'immagine */
}
.slide_container {
    position: relative;
    width: 100%;
    text-transform: uppercase;
}
.outofcore-img {
    width: 100%;
    display: block;
    height: auto;
    object-fit: cover;
}
.text_wrapper {
    position: absolute;
    bottom: 15%; /* Allinea il testo più in basso */
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: white;
    width: 100%;
    line-height: 1.4;
    z-index: 2;
}
.text_wrapper p {
    margin: 0;
    font-size: 1rem;
    letter-spacing: 0.1vw;
    line-height: 1.125rem;
}
.text_wrapper h2 {
    font-weight: 900;
    margin-top: 5px;
    font-size: 2.5rem;
    line-height: 2.25rem;
    text-transform: lowercase;
}
.text_wrapper a{
    font-size: 14px;
    max-width: 600px; /* Limita la larghezza del testo */
    margin: 0;
    background-color: white;
    color: black;
    padding: 15px 20px 15px 20px;
    border-radius: 30px;
    font-weight: 500;
    text-transform: capitalize;
}
.text_wrapper a:hover{
    cursor: pointer;    
}
/* GET THE LOOK */
.rett-nero   {
    background-color: black;
    color: white;
    padding-bottom: 40px;
    margin-top: -5px;
}
.get-the-look {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 20px;

    width: 100%; 
    position: relative; 
    margin-top: -10px; /* aggiusta la distanza per sovrapporlo leggermente */
 
}
.gtl-text-container{
    display: flex;
    justify-content: row;
    align-items: center;
    gap: 1.25rem;
}
.gtl-text-container h1{ /*perchè senza h1 non mi da la freccia?*/
    font-size: 2.5rem;
    font-weight: 100;
    margin: 0; /* centra il contenitore */
    padding-left: 40px;

}
.gtl-text-container  p{
    font-size: 14px;
    margin: 0;
}
.cta-button {
    border: 1px solid white;
    color: white;
    text-decoration: none;
    padding: 6px 12px; 
    border-radius: 30px; 
    transition: all 0.3s ease-in-out;
    white-space: nowrap; /* Evita il ritorno a capo, ha senso?*/
    margin-right: 50px;
}
.cta-button:hover {
    background-color: white;
    color: black;
}
/* LOOK GALLERY */
.look-gallery {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: stretch; /* assicura che tutti i div abbiano la stessa altezza */
}
.look-card {
    position: relative;
    width: 24%; /* per avere 4 colonne, quale metodo è il migliore */
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.look-card img {
    width: 100%;
    height: auto;
    display: block;
    cursor: pointer;
}
.look-card p {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    pointer-events: none;
}
/* SUGGESTED PRODUCTS */
.suggested-text h1{ /*perchè senza h1 non mi da la freccia? si crea una freccia a causa del size(?)*/
    font-size: 2.5rem;
    font-weight: 100;
    margin: 0; 
    padding-left: 40px;
    text-transform: uppercase;
    padding: 30px 32px 20px;
    font-size: 3rem;
}
.products {
    display: flex;
    grid-template-columns: repeat(4, minmax(150px, 1fr)); /* griglia responsiva */
    gap: 5px; 
    width: 100%;
    padding-bottom: 40px;
}

.suggested-product {
    display: flex;
    flex-direction: column; /* allinea immagine, titolo e prezzo in colonna */
    justify-content: space-between; /* distribuisce lo spazio in modo uniforme */
    align-items: start; 
    text-align: start;
    width: calc(25% - 5px); /* i px sono il gap */
}
.suggested-product h3, .suggested-product .price {
    padding-left: 4%;
    margin: 0; 
}

.suggested-product img {
    width: 100%;
    height: auto; 
    object-fit: contain; /* evita il ritaglio delle immagini */
    border-radius: 5px;
    cursor: pointer;

}
.suggested-product h3 {
    font-size: .75rem;
    font-weight: bold;
    margin-top: 5px;
    width: 100%; 
}
.suggested-product .price {
    font-size: .75rem;
    margin-top: 2px; 
}
/* BERSHKA MUSIC */
.bershka-music {
    width: 100%;
    height: auto; 
    display: flex; 
    justify-content: center;
    align-items: center;
}
.bershka-music img {
    width: 100%; 
    height: auto;
    cursor: pointer;
}
/* SPAM SCONTO */
.spam-conto{
    background-color: black;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: start; 
    align-items: center;
    margin-top: -5px;
}
.spam-conto {
    background-color: black; /* Sfondo nero */
    color: white; /* Testo bianco */
    text-align: center; /* Centra il testo */
    padding: 60px 20px; /* Spaziatura per ingrandire la sezione */
}
.spam-conto h2 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 10px;
}
.spam-conto p {
    font-size: 16px;
    font-weight: 100;
    margin: 0 auto 20px auto; /* Centra il testo */
}
.spam-conto a {
    font-size: 14px;
    max-width: 600px; /* Limita la larghezza del testo */
    margin: 0;
    background-color: white;
    color: black;
    padding: 15px 20px 15px 20px;
    border-radius: 30px;
}
.spam-conto a:hover {
    cursor: pointer;
}
/* FOOTER */
footer {
    background-color: #f8f8f8;
    padding: 40px 0;
    font-family: Arial, sans-serif;
}
.footer-container {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}
.footer-column {
    width: 20%;
    min-width: 150px;
    margin-bottom: 20px;
}
.wa-icon {
    width: 16px; /* Modifica la dimensione in base al testo */
    height: auto; 
    vertical-align: middle; /* Per allinearla con il testo */
    margin-right: 5px; /* Spazio tra icona e testo */   
}
.footer-column p{
    font-size: 12px;
}
.footer-column h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}
.footer-column ul {
    list-style: none;
    padding: 0;
}
.footer-column ul li {
    margin-bottom: 8px;
}
.footer-column ul li a {
    color: black;
    font-size: 14px;
}
.footer-column ul li a:hover {
    cursor: pointer;
}
.small-text {
    font-size: 12px;
    color: gray;
}
.online {
    color: green;
    font-weight: bold;
}
.social-icons a {
    font-size: 18px;
    margin-right: 10px;
    color: black;
}
.footer-bottom {
    text-align: center;
    padding: 10px;
    font-size: 12px;
    color: gray;
}