body {
    margin: 0;
    font-family: 'Whyte', sans-serif;
    
}

header {
    background-color: white;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.navbar-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    z-index: 100;
}

#linksLEFT, #linksRIGHT {
    display: flex;
    align-items: center;
    gap: 15px;
}

nav a {
    font-size: 12px;
    color: black;
    margin: 0 10px;
    cursor: pointer;
    text-transform: uppercase;
}

#logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

nav img {
    height: 20px;
    width: 133px;
}

.search-container {
    display: flex;
    align-items: center;
    background-color: #F5F5F5;
    border-radius: 15px;
    padding: 5px;
    gap: 5px;
}

.search-icon {
    width: 16px;
    height: 16px;

}
.search-input::placeholder {
    color: black; 
}   

.search-input {
    border: none;
    outline: none;
    font-size: 12px;
    background-color: transparent;
    flex: 1;
}

/* BOX */
.box-slideshow {
    position: relative;
    width: 100%;
    height: auto;
}

.box-image {
    width: 100%;
}

.box-text {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2.5rem;
    text-transform: lowercase;
    text-align: center;
    white-space: nowrap;    
}

/* PRODOTTI */
.product-grid {
    display: grid; /*grid o flex cosa cambia*/
    grid-template-columns: repeat(6, minmax(150px, 1fr)); /* Griglia responsiva la posso usare?*/
    gap: 5px; 
    width: 100%; 
}

.product-item {
    position: relative;
    overflow: hidden;
    text-align: center;
    background: white;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.product-item img {
    width: 100%;
    height: auto; /* Mantiene le proporzioni */
    object-fit: cover; /* Evita lo "zoom" lo posso usare?*/
    display: block;
    transition: transform 0.3s ease-in-out;
}

.product-item:hover img {
    transform: scale(1.1);
}

.product-text {
    position: absolute;
    top: 50%; /* Posiziona il testo al centro verticale */
    left: 50%; /* Posiziona il testo al centro orizzontale */
    transform: translate(-50%, -50%); /* Centra esattamente il testo */
    color: white; 
    font-size: 1.2rem; 
    font-weight: bold; 
    text-transform: uppercase; 
    pointer-events: none; /* Impedisce che il testo interferisca con il mouse lo posso usare?*/
}
/* FONT */
@font-face {
    font-family: 'Whyte';
    src: url('../mhw1/fonts/ABCWhyte-Regular.woff2') format('woff2'),
         url('../mhw1/fonts/ABCWhyte-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Whyte';
    src: url('../mhw1/fonts/ABCWhyte-Bold.woff2') format('woff2'),
         url('../mhw1/fonts/ABCWhyte-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
/* EARTHDAY */
.earthday-img{
    padding-top: 0;
    width: 100%; 
    height: auto; 
    display: block; /* Evita spazi indesiderati sotto l'immagine */
}

.flex_container {
    display: flex;
    /*QUI DOVREI RENDERE LA SCHERMATA LOCKATA *TIPO* */
    flex-direction: column; /* dispone gli elementi in colonna */
    gap: 5px; /* spaziatura tra la griglia e l'immagine */
}
.slide_container {
    position: relative; /* importante per posizionare correttamente gli elementi figli */
    width: 100%;
    height: auto;
    object-fit: cover;
    text-transform: uppercase;
}
.slide_container img {
    width: 100%;
    object-fit: cover;
}
.content_container {
    position: absolute;  /* Si posiziona rispetto a .slide_container */
    top: 65%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    width: 100%;
    font-size: 1,5vw;
    font-weight: 1000;
    line-height: 1.83;
    letter-spacing: 0.2rem;
    margin: 0;
}
.text_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    position: relative;
    z-index: 2;
}
.date {
    text-align: center;
    width: 40%;
}
.cta {
    text-align: center;
    width: 40%;
}
.hashtag {
    position: relative;
    top: 100px; /* sposta il tag verso il basso di 100px */
}
/* GET THE LOOK */
.rett-bianco {
    display: flex;
    justify-content: flex-end; 
    align-items: center; 
    background-color: white;
    width: auto; 
    height: auto; 
    margin-top: -10px; 
    padding: 10px; 
    z-index: 1; /* assicura che il rettangolo sia sotto altri elementi */
}
.rett-bianco img {
    max-width: 130px; /* imposta una dimensione molto più piccola per l'immagine */
    height: auto; /* mantieni le proporzioni */
    object-fit: contain; /* assicura che l'immagine non venga tagliata */
}
.rett-nero   {
    background-color: black;
    color: white;
    padding-bottom: 40px;
}
.get-the-look {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 20px;

    width: 100%; 
    position: relative; 
    margin-top: -10px; /* aggiusta la distanza per sovrapporlo leggermente */
 
}
.gtl-text-container{
    display: flex;
    justify-content: row;
    align-items: center;
    gap: 1.25rem;

}
.gtl-text-container h1{ /*perchè senza h1 non mi da la freccia?*/
    font-size: 2.5rem;
    font-weight: 100;
    margin: 0; /* centra il contenitore */
    padding-left: 40px;

}
.gtl-text-container  p{
    font-size: 14px;
    margin: 0;
}
.cta-button {
    border: 1px solid white;
    color: white;
    text-decoration: none;
    padding: 6px 12px; 
    border-radius: 30px; 
    transition: all 0.3s ease-in-out;
    white-space: nowrap; /* Evita il ritorno a capo, ha senso?*/
    margin-right: 50px;
}

.cta-button:hover {
    background-color: white;
    color: black;
}
/* LOOK GALLERY */
.look-gallery {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: stretch; /* assicura che tutti i div abbiano la stessa altezza */
}

.look-card {
    position: relative;
    width: 24%; /* per avere 4 colonne, quale metodo è il migliore */
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.look-card img {
    width: 100%;
    height: auto;
    display: block;
    cursor: pointer;
}
.look-card p {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    font-size: 1rem;
    font-weight: bold;
}
/* SUGGESTED PRODUCTS */
.suggested-text h1{ /*perchè senza h1 non mi da la freccia? si crea una freccia a causa del size(?)*/
    font-size: 2.5rem;
    font-weight: 100;
    margin: 0; 
    padding-left: 40px;
    text-transform: uppercase;
    padding: 30px 32px 20px;
    font-size: 3rem;
}
.products {
    display: flex;
    grid-template-columns: repeat(4, minmax(150px, 1fr)); /* griglia responsiva */
    gap: 5px; 
    width: 100%;
    padding-bottom: 40px;
}

.suggested-product {
    display: flex;
    flex-direction: column; /* allinea immagine, titolo e prezzo in colonna */
    justify-content: space-between; /* distribuisce lo spazio in modo uniforme */
    align-items: start; 
    text-align: start;
    width: calc(25% - 5px); /* i px sono il gap */
}
.suggested-product h3, .suggested-product .price {
    padding-left: 4%;
    margin: 0; 
}

.suggested-product img {
    width: 100%;
    height: auto; 
    object-fit: contain; /* evita il ritaglio delle immagini */
    border-radius: 5px;
}

.suggested-product h3 {
    font-size: .75rem;
    font-weight: bold;
    margin-top: 5px;
    width: 100%; 
}

.suggested-product .price {
    font-size: .75rem;
    margin-top: 2px; 
}
/* BERSHKA MUSIC */
.bershka-music {
    width: 100%;
    height: auto; 
    display: flex; 
    justify-content: center;
    align-items: center;
}
.bershka-music img {
    width: 100%; 
    height: auto; 
}
/* SPAM SCONTO */
.spam-conto{
    background-color: black;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: start; 
    align-items: center;
    margin-top: -5px;
}
.spam-conto {
    background-color: black; /* Sfondo nero */
    color: white; /* Testo bianco */
    text-align: center; /* Centra il testo */
    padding: 60px 20px; /* Spaziatura per ingrandire la sezione */
}

.spam-conto h2 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 10px;
}

.spam-conto p {
    font-size: 16px;
    font-weight: 100;
    margin: 0 auto 20px auto; /* Centra il testo */
}
.spam-conto a {
    font-size: 14px;
    max-width: 600px; /* Limita la larghezza del testo */
    margin: 0;
    background-color: white;
    color: black;
    padding: 15px 20px 15px 20px;
    border-radius: 30px;
}
/* FOOTER */
footer{
    background-color: white;
    width: 100%;
    height: 500px;
}